<form action="https://buy.stripe.com/test_9AQ9CC0ImcoZcAE5kk" method="GET">
  <label for="InternID">InternID:</label>
  <input type="text" id="InternID" name="InternID"><br><br>
  
  <label for="amount">Amount:</label>
  <input type="text" id="amount" name="amount"><br><br>
  
  <label for="ConorName">Donor Name:</label>
  <input type="text" id="ConorName" name="ConorName"><br><br>
  
  <input type="submit" value="Submit">
</form>
